<!-- Defines element markup -->
<template>
    <link rel="stylesheet" href="css/bulma.min.css"/>
    <link rel="stylesheet" href="css/main.min.css">
    <!-- <link rel="stylesheet" href="../css/bulma.css"> -->
    

    <!-- NAVABR -->
    <div class="container">
      <nav class="navbar">
        <div class="container">

          <!-- BURGER ICON -->
          <span class="navbar-burger burger" data-target="navbarMenu">
            <span></span>
            <span></span>
            <span></span>
          </span>
          <!-- BURGER ICON - END -->

          <!-- LOGO -->
          <div class="navbar-brand is-hidden-tablet">
            <a class="navbar-item" href="index.html">
              <img class="logo" alt="Logo firmy Konplan" style="max-height: 60px;" src="img/logo.png" />
            </a>
          </div>
          <!-- LOGO - END -->

          <!-- DESKTOP MENU -->
          <div id="navbarMenu" class="navbar-menu">
            <div class="navbar-end">
              <a class="navbar-item is-active">
                Home
              </a>
              <a class="navbar-item" href="realizacje.html">
                Realizacje
              </a>
              <a class="navbar-item" href="oferta.html">
                Oferta
              </a>
              <a class="navbar-item" href="about.html">
                O nas
              </a>
              <a class="navbar-item" href="kontakt.html">
                Kontakt
              </a>
            </div>
          </div>
          <!-- DESKTOP MENU -END -->
        </div> <!-- container -->

        <!-- DROPDOWN MENU -->
        <div class="dropdown-menu" id="dropdown-menu" role="menu">
          <div class="dropdown-content">
            <a href="#" class="dropdown-item">
              Dropdown item
            </a>
            <a class="dropdown-item">
              Other dropdown item
            </a>
            <a href="#" class="dropdown-item is-active">
              Active dropdown item
            </a>
            <a href="#" class="dropdown-item">
              Other dropdown item
            </a>
            <hr class="dropdown-divider">
            <a href="#" class="dropdown-item">
              With a divider
            </a>
          </div>
        </div>
        <!-- DROPDOWN MENU  - END-->
      </nav>
    </div>
    <!-- NAVABR - END -->
</template>

<script src="nav-bar.js"></script>
